<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/AdminLTE.min.css">
		<script type="application/javascript" src="/js/jquery-3.5.1.min.js"></script>
		<script type="application/javascript" src="/js/bootstrap.min.js"></script>
		<script type="application/javascript">
			function checkNull(id, lable) {
				var val = $("#" + id ).val();
				if (val == null || val == "") {
					document.getElementById(lable).innerHTML = "此处为必填";
				} else {
					document.getElementById(lable).innerHTML = "";
				}
			}
			function checkPassword() {
				var password = $("#password").val();
				var repassword = $("#repassword").val();
				var obj = document.getElementById("save");
				if (password == repassword) {
					obj.style.display = "block";
					document.getElementById("repasswordLable").innerHTML = "<i class='fa fa-check'></i>";
				} else {
					document.getElementById("repasswordLable").innerHTML = "两次输入密码不一致";
					obj.style.display = "none";
				}
			}

			function saveUser() {
				var saveFrom = $("#saveForm").serialize();
				$.ajax({
					url: "../update",
					type: "post",
					data: saveFrom,
					dataType: "json",
					success: function (data) {
						if (data.result) {
							alert(data.data);
							parent.closeModal();
							parent.signOut();
						} else {
							alert(data.data);
						}
					}
				});
			}
		</script>
	</head>
	<body class="hold-transition skin-blue sidebar-mini">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form id="saveForm" role="form">
						<table style="border-spacing: 5px; border-collapse: separate">
							<tr>
								<td style="text-align: right">
									<i class="fa fa-lock"></i>&nbsp;
									登录密码：
								</td>
								<td>
									<input name="id" type="hidden" th:value="${pId}">
									<input id="password" type="password" onblur="checkNull('password', 'passwordLable')" name="password" class="form-control" style="width: 300px;" placeholder="请填写您的登录密码"/>
								</td>
								<td>
									<span id="passwordLable" style="color: red;">*</span>
								</td>
							</tr>
							<tr>
								<td style="text-align: right">
									<i class="fa fa-lock"></i>&nbsp;
									密码确认：
								</td>
								<td>
									<input type="password" onblur="checkPassword()" id="repassword" class="form-control" style="width: 300px;" placeholder="请再次确认您的登录密码"/>
								</td>
								<td>
									<span id="repasswordLable" style="color: red;">*</span>
								</td>
							</tr>
							<tr>
							<tr>
								<td colspan="2" style="text-align: right;">
									<div id="save">
										<a href="javascript:saveUser()" class="btn btn-success btn-sm">
											<i class="fa fa-save"></i>&nbsp;
											保存
										</a>
									</div>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>